.article-body-yume {
  max-width: 900px !important;
}
img[src$='#img-yume1'] {
    float:right;
    width: 400;
    height: 225;
}
img[src$='#hbao1'] {
    width: 800;
    height: 450;
}
img[src$='#hbao2'] {
    width: 800;
    height: 450;
}
.paperStyle {
  color: white;
  width: 100px;
  border: none;
  display: inline !important;
}
.summary a {
  padding-right: 10px;
}
.item-col {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
}
body {
  background-color: #182127;
}

div .detail {
  background-color: #131a1f;
  transition: background-color .3s;
}

article.li {
  padding: 8px;
  background-color: #182127;
  transition: background-color .3s;
}

@media (max-device-width : 480px) {
  article.li {
    padding: 4px;
    background-color: #131a1f;
    transition: background-color .3s;
  }
  article.li:hover {
    background-color: #3a4247;
  }
  .col-sm-6 {
    padding: 3px 5px;
  }
}

article.li:hover {
  background-color: #3a4247;
}
.item-col > .articles {
  width: 80%;
}

.container {
  padding-top: 15px;
}
/***** HEADER ******/
/*
Palette:
900: 0c1114
800: 11171b
700: 131a1f
600: 151e23
500: 182127
400: 3a4247
300: 5c6367
200: 8c9093
100: b7babc
50: e1e2e3
*/
header.site {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /* background-color: #fefefe; */
  background: linear-gradient(to bottom, #0c1114 0%,#131a1f 100%);
  color: #e1e2e3;
}
header a {
  text-decoration: none;
  color: white;
}
header a:hover {
  color: white;
  text-decoration: none;
}
header  h1, .site-title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  margin: .3em .4em .1em 0em;
  color: #e1e2e3;
}
header h2, .site-title-second {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
  margin: .2em .4em .3em 0em;
  transition: font-size .3s;
  color: #e1e2e3;
}

header > span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  width: 80%;
  align-self: center;
}
header > span > span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#header-icons {
  font-size: 1.6em;
}
#header-icons i {
  margin: 0px 2px;
}
.ioni {
  transition: color .3s;
  color: white;
}
.ion-social-github:hover {
  color: #9f9380;
  /* FIXME:  */
}
.ion-social-youtube:hover {
  color: #e52d27;
}
.ion-social-twitter:hover {
  color: #55acee;
}
.ion-android-mail:hover {
  color: #34465d;
}
nav {
  border-top: 1px solid #8a8a8a;
  padding: 4px;
  display: flex;
  justify-content: center;
}
nav > a {
  font-size: 1.1em;
  margin: 10px 10px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  color: white;
  opacity: 0.87;
}
nav > a:hover {
  color: white;
  opacity: 1;
}
nav  p {
  margin: 10px 0px;
  font-weight: bold;
}

h2.title {
  text-transform: capitalize;
  color: #eee;
}

a {
  transition: all .3s;
}

/***********************/
/******* Footer *******/
footer.site {
  background-color: #0b0c0d;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #eee;
}

footer.site > ul {
  text-align: right;
  list-style: none;
}

footer.site a {
  text-decoration: none;
  color: #eee;
}

footer.site > span {
  text-align: left;
}

footer.site h1 {
  margin-top: 0px;
  font-weight: 300;
}

footer.site h2 {
  margin-bottom: 0px;
}

footer.site h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    margin-top: 0px;
}
