<article class="li">
  <a href="{{ .Description }}" class="clearfix">
    <div class="image" style="background-image: url({{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.jpg{{ end }});"></div>
  </a>
  <div class="detail">
    <time>{{ with .Site.Params.DateForm }}{{ $.Date.Format . }}{{ else }}{{ $.Date.Format "Mon, Jan 2, 2006" }}{{ end }}</time>
    <h2 class="title">{{ .Title }}</h2>
    <div class="summary">{{ .Summary }} <br />
      {{ if (isset .Params "paperlink")  }}
        <a class="paperStyle" href="{{ .Params.paperlink }}"> Paper </a>
      {{ end }}
      {{ if (isset .Params "blogpost")  }}
        <a class="paperStyle" href="{{ .Params.blogpost}}"> Blog </a>
      {{ end }}
    </div>
  </div>
</article>
